.nav {
    background-color: gray;
    padding: 20px 0px;
    width: 30%;
    position: fixed;
    left: 50%;
    top: 20px;
    border-radius: 50px;
    margin: 0 auto;
    transform: translate(-50%);
    z-index: 10;
}

.nav ul{
    display: flex;
    justify-content: center;
    gap: 50px;
}

.nav ul li {
    list-style: none;
    transform: none;
    transition: all 0.1s ease-in-out;
    }
    
.nav ul li:hover {
    transform: scale(1.05);
}    